<head>
  <title>Garrett's Shit List</title>
</head>

<body>
  <div class="container"
     ng-app="simple-todos"
     ng-controller="TodosListCtrl">

     <header> 
     	<h1>Garrett's Shit List (current shitters: {{ incompleteCount() }} )</h1> 

     	<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/150840_182754225073651_7515654_n.jpg?oh=9bcaea4021f4e75487ff60b2039db113&oe=573090D0" alt="It's his shit list" >


     	<label class="hide-completed">
     		<input type="checkbox" ng-model="hideCompleted"/>
     		Hide Completed Tasks
     	</label>

     	<login-buttons></login-buttons>

     	<form class="new-task" 
     			ng-submit="addTask(newTask); newTask='';"
     			ng-show="$root.currentUser">
     		<input ng-model="newTask" type="text" 
     				name="text" placeholder="Type to add new tasks" />
     	</form>

     </header>

     <ul>
     	<li ng-repeat="task in tasks"
        ng-class="{'checked': task.checked, 'private': task.private}">
     		<button class="delete" ng-click="deleteTask(task)">&times;</button>

     		<input type="checkbox" ng-checked="task.checked"
             ng-click="setChecked(task)" class="toggle-checked" />

             <button class="toggle-private"
              ng-if="task.owner === $root.currentUser._id"
              ng-click="setPrivate(task)">
        {{task.private == true ? "Private" : "Public"}}
      </button>

     		<span class="text">
     			<strong>{{task.username}}</strong> - {{task.text}}
     		</span>
     	</li>
     </ul>

</div>
</body>


